// Color scheme

$color1: #effcea;
$color2: #9b6206;
$color3: #1e7f0d;
$color4: #fff;
$color5: rgba(1, 8, 0, 0.719);
$color6: #eaf7eb;

// Fonts

$hFF: 'Roboto', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
button,
.button {
    font-family: $hFF;
}

@mixin h1Font($h1Color:white){
    font-size: 50px;
    color: $h1Color;
    padding-left: 9.5%;
    text-shadow: 2px 2px 2px $color5;
}

@mixin h1FontMQPS { //Media Query Smartphone Portrait
    font-size: 40px;
    line-height: 200%;
    max-width: 80%;
}

@mixin h1FontMQLS { //Media Query Smartphone Landscape
    font-size: 35px;
    line-height: 150%;
    max-width: 100%;
}
@mixin h1FontMQLE { //Media Query Ebook Landscape
    font-size: 45px;
    line-height: 180%;
    max-width: 90%;
}

@mixin h2Font($h2Color: $color3) {
    font-size: 40px;
    line-height: 80px;
    color: $h2Color;
}

@mixin h3Font($h3FS: 30px, $h3Color: $color4) {
    font-size: $h3FS;
    line-height: 38px;
    letter-spacing: 1.3px;
    color: $h3Color;
}

@mixin h4Font {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: .8px;
    color: $color2;
}

@mixin pFont($pColor: rgb(2, 2, 51), $pFS: 20px) {
    font-family: 'Roboto', sans-serif;
    font-size: $pFS;
    letter-spacing: 1px;
    color: $pColor;
}

// .wrapper
 @mixin wrapper {
     max-width: 95%;
     margin: 0 auto;
 }

//  headerHero mixin
@mixin headerHero($heroHeight:100vh) {
    background-color: $color3;
    background-size: cover;
    background-position: center;
    height: $heroHeight;
}

@mixin allButton($buttonBgc: $color2, $buttonC: $color3){
    background-color: $buttonBgc;
    color: $buttonC;
    padding: 2.5% 5%;
    font-size: 100%;
    text-align: center;
    line-height: 41.6px;
    margin: 10% auto;
}

@mixin allButtonHover($buttonBgcH: $color4, $borderCH: $color2){
    background-color: $buttonBgcH;
    border: 5px solid $borderCH;
}