// Color scheme

$color1: #effcea;
$color2: #a35f06;
$color3: #1e7f0d;
$color4: rgba(255, 255, 255, 0.479);
$color5: rgb(1, 8, 0);
$color6: #06e6e6ab;

// Fonts

$hFF: 'Roboto', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
button,
.button,
li {
    font-family: $hFF;
}

@mixin h1Font($h1Color: $color3){
    font-size: 50px;
    color: $h1Color;
    text-align: center;
    text-shadow: 2px 2px 2px $color1;
}

@mixin h1FontMQPS { //Media Query Smartphone Portrait
    font-size: 60px;
    line-height: 200%;
    max-width: 80%;
}

@mixin h1FontMQLS { //Media Query Smartphone Landscape
    font-size: 55px;
    line-height: 150%;
    max-width: 100%;
}
@mixin h1FontMQLE { //Media Query Ebook Landscape
    font-size: 45px;
    line-height: 180%;
    max-width: 90%;
}

@mixin h2Font($h2Color: $color2) {
    font-size: 35px;
    line-height: 80px;
    color: $h2Color;
    text-shadow: 2px 2px 2px $color1;
}

@mixin h3Font($h3FS: 30px, $h3Color: $color4) {
    font-size: $h3FS;
    line-height: 48px;
    letter-spacing: 1.3px;
    color: $h3Color;
}

@mixin h4Font {
    font-size: 35px;
    line-height: 30px;
    letter-spacing: .8px;
    color: $color2;
}

@mixin pFont($pColor: $color5, $pFS: 25px) {
    font-family: 'Roboto', sans-serif;
    font-size: $pFS;
    letter-spacing: 1px;
    line-height: 30px;
    color: $pColor;
}

// .wrapper
 @mixin wrapper {
     max-width: 95%;
     margin: 0 auto;
 }

//  Hero mixin
@mixin hero($heroHeight:100vh) {
    background-color: $color3;
    background-size: cover;
    background-position: center;
    height: $heroHeight;
}

@mixin allButton($buttonBgc: $color3, $buttonC: $color1){
    background-color: $buttonBgc;
    color: $buttonC;
    padding: 1.5% 2.5%;
    text-align: center;
    line-height: 35.6px;
    font-size: 20px;
    margin: 5%;
    border: 5px solid $color2;
    border-radius: 50%;
    box-shadow: 5px 5px 2px $color1;
}

@mixin allButtonHover($borderCH: $color6){
    border-bottom: 2.5px solid $borderCH;
}