// Color scheme

$color1: #effcea;
$color2: #a35f06;
$color3: #1e7f0d;
$color4: rgba(255, 255, 255, 0.479);
$color5: rgb(1, 8, 0);
$color6: #06e6e6ab;

// Fonts

$hFF: 'Roboto', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
button,
.button,
li {
    font-family: $hFF;
}

@mixin h1Font($h1Color: $color3){
    font-size: 50px;
    color: $h1Color;
    text-align: center;
    text-shadow: 2px 2px 2px $color1;
}

@mixin h2FontMQPS { //Media Query Smartphone Portrait
    font-size: 25px;
    line-height: 40px;
}

@mixin h2FontMQLS { //Media Query Smartphone Landscape
    font-size: 30px;
    line-height: 50px;
    max-width: 100%;
    padding-top: 5%;
}

@mixin h2Font($h2Color: $color2) {
    font-size: 35px;
    line-height: 80px;
    color: $h2Color;
    text-shadow: 2px 2px 2px $color1;
}


@mixin pFont($pColor: $color5, $pFS: 25px) {
    font-family: 'Roboto', sans-serif;
    font-size: $pFS;
    letter-spacing: 1px;
    line-height: 30px;
    color: $pColor;
}

// .wrapper
 @mixin wrapper {
     max-width: 95%;
     margin: 0 auto;
     overflow: hidden;
 }


@mixin allButton($buttonBgc: $color3, $buttonC: $color1){
    background-color: $buttonBgc;
    color: $buttonC;
    padding: 1.5% 2.5%;
    text-align: center;
    line-height: 35.6px;
    font-size: 20px;
    margin: 5%;
    border: 5px solid $color2;
    border-radius: 50%;
    box-shadow: 5px 5px 2px $color1;
}

@mixin allButtonHover($borderCH: $color6){
    border-bottom: 2.5px solid $borderCH;
}