@import 'setup';
@import 'variables';

body {
    background: linear-gradient(to right, $color4, $color6); 
}

.wrapper {
    @include wrapper;
}

html {
    font-size: 65%;
}

img {
    width: 20%;
    margin-right: 5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

//FONT

h1 {
    @include h1Font;
    padding: 5% auto;
}

h2 {
    @include h2Font;
}

p,
li {
    @include pFont;
}

//HEADER NAV

.headerNav ul{
    display: flex;
    justify-content: space-evenly;
}
.headerNav li {
    @include allButton;
}
.headerNav a {
    width: 30%;
    color: $color1;
}

.headerNav li:hover,
.headerNav li:active,
.headerNav li:focus,
.headerNav li:visited{
    @include allButtonHover;
    box-shadow: 5px 5px 2px $color3;
}

//MAIN
.question {
    margin: 2.5%;
    background-color: $color4;
    padding: 3% 4%;
}

.question li{
    margin: 2% auto;
    display: flex;
    align-items: center;
    text-align: left;
}
input[type='radio'] {
    width: 10%;
}
.align {
    width: 80%;
}

button {
    @include allButton;
}

button:hover,
button:active,
button:focus,
button:visited {
    @include allButtonHover;
}

//MORE INFO SECTION
.moreInfo h2,
.moreInfoNav,
.moreInfo {
    margin: 5%;
}

.moreInfoNav li {
    display: flex;
    align-items: center;
    margin: 5%;
}

//FOOTER
footer {
    background-color: $color6;
    padding: 1.25% 3%;
}


//MEDIA QUERIES
@media (max-width: 900px){
    html {
        font-size: 50%;
    }
    .question li{
        margin: 4% auto;
    }

    h2 {
        @include h2FontMQLS;
    }
}

@media (max-width: 600px){
    html {
        font-size: 45%;
    }

    .headerNav{
        display: none;
    }

    h1,
    header {
        margin-top: 10%;
    }

    .question {
        padding: 3% 1%;
    }

    .question li{
        margin: 10% auto;
    }

    input[type='radio'] {
        width: 10%;
    }
    h2 {
        @include h2FontMQPS;
    }
    .moreInfoNav a{
        font-size: 18px;
    }
    .moreInfoNav,
    .moreInfo {
         margin: 1.5%;
    }
}
